@model Warehouse.Data.Entities.Item

<form asp-controller="Item" asp-action="Edit" method="post">
    
    <div asp-validation-summary="All"></div>

    <div class="card">
        <input class="form-control" type="text" asp-for="Id" placeholder="Id" disabled/>
    </div>

    <div class="card">
        <input class="form-control" type="text" asp-for="Name" placeholder="Name for product" />
    </div>
        
    <div class="card">
        <input class="form-control" type="number" asp-for="PricePerItem" min="0" step="0.5" placeholder="Enter price" />
    </div>

    <div class="card">
        <textarea asp-for="Description" rows="4" placeholder="Enter description"> </textarea>
    </div>
        
    <button class="btn-success" type="submit">Submit</button>
   
</form>
