
@model IEnumerable<Warehouse.Data.DTOs.ItemDTOs.ItemResponseDTO>

@{
    var rowItems = Model.Select(dto => new Dictionary<string, object>
    {
        ["Id"]=dto.Id,
        ["Name"]=dto.Name,
        ["Description"]=dto.Description??"",
        ["Base Price Per Item"] = dto.PricePerItem ?? 0
    });

    var model = new Warehouse.Models.GenericTableModel()
            {
                Controller = "Item",
                ColumnNames = new List<string> { "Id", "Name", "Description", "Base Price Per Item" },
                RowPairs = rowItems,
                title = "Items",
        ExtraActions = new List<(string, string, string?)> { ("See Products", "ViewAllSelectedProducts", "StockUnit") }
            };

}

<h4>Items types inside Warehouse</h4>

<div class="card p-3">
    <form asp-controller="Item" asp-action="SearchByName" method="get" class="d-flex gap-2">
        <input type="text" name="name" placeholder="Search..." class="form-control" />
        <button type="submit" class="btn btn-success w-auto">Search</button>
    </form>
</div>

@await Html.PartialAsync("_ViewGenericTable", model)

