@model Warehouse.Data.DTOs.AccountDTOs.AccountCreateDTO
@using Warehouse.Data.Entities
 
@{
    string Controller = "Account";
    string Action = "RegisterStaff";
    string Method = "post";
    string Title = "Register Staff";
 
    var enumerable = new List<(string, string, string, string?)>
    {
        ("email",           "Email",            "Email",           null),
        ("password",        "Password",         "Password",        null),
        ("password", "Confirm Password", "ConfirmPassword", null),
        ("select",   "Account Type",     "AccountType",     "2:Seller,3:Admin"),
    };
}
 
@await Html.PartialAsync("_ViewGenericForm", (Controller, Action, Method, enumerable, (int?)null, Title))
 
 
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible">
        @TempData["Error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible">
        @TempData["Success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}